<div class = "container px-5 px-sm-0">
  <div class = "row">
   <%= render "list", {book: @book, user: @user} %>
   <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class = "table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book_i.user.id) do %>
              <%= image_tag @book_i.user.get_profile_image(100,100) %><% end %><br>
              <%= link_to @book_i.user.name, user_path(@book_i.user.id) %></td>
            <td>
              <%= link_to @book_i.title, book_path(@book_i.id) %></td>
            <td><%= @book_i.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book_i.id), class: "btn btn-success btn-sm" %></td>
            <td><%= link_to "Destroy", book_path(@book_i.id), method: :delete, class: "btn btn-danger btn-sm",  "data-confirm" => "本当に削除しますか？" %></td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
